/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

body{
    overflow-x: hidden;
    background: #f9fafb;
}

.dark{
    background: #121317;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root{
    --white-color:#fff;
    --first-color:#0694a2;
    --second-color:#3f83f8;
    --third-color:#0e9f6e;
    --four-color:#f97316;
    --outline-1:#bcf0da;
    --outline-2:#afecef;
    --outline-3:#c3ddfd;
    --outline-4:#fcd9bd;
}

img{
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
label,
input,button {
    font-family: 'Open Sans', sans-serif;
}


.container{
    max-width: 1280px;
    margin:0px auto;
}

.app_btn{
    border: none;
    outline: none;
    padding: 0.5em 1.5em;
    font-size: 1em;
    font-weight: 400;
    transition: 0.3s ease-in-out;
    cursor: pointer;

}

.login_btn{
    width: 100%;
    background-color: var(--third-color);
    border-radius: 10px;
    color: var(--white-color);
}

.login_btn:hover{
    background-color: var(--first-color);
}

.app {
    width: calc(100% - 261px);
    height: 100%;
    position: relative;
    left: 250px;
    z-index: 1000000;
}


.mobile_menu {
    position: absolute;
    top: 3%;
    left: 15%;
    font-size: 1.5em;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}


@media (max-width:1536px){
    .mobile_menu {
       visibility: visible;
       opacity: 1;
    }
}
@media (max-width:990px){
    .mobile_menu {
        top: 2%;
    }
}

@media (max-width:990px){
    .container{
        padding: 2em;
    }
}